:root {
  color-scheme: light dark;
}

html {{
  box-sizing: border-box;
}}
*, *::before, *::after {{
  box-sizing: inherit;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "InterVariable", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: #0f172a;
}

a {
  color: inherit;
  text-decoration: none;
}
